


 

        main {
            padding: 40px;
            text-align: center;
        }

        footer {
            background-color: #3498db;
            color: white;
            text-align: center;
            padding: 15px 0;
        }

        
        ol {
            text-align: left;
            margin-top: 20px;
        }

        a {
            color: #3498db;
        }

        a:hover {
            text-decoration: underline;
        }