.my-button {
    button {
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
        font-weight: bold;
        text-transform: uppercase;
    }
}